site_name: My Docs
site_url: https://mmacdonnacha.github.io/writeups
theme:
  name: material
  palette:
    scheme: slate
    primary: blue grey

  features:
    - navigation.tabs
    - navigation.path
    - navigation.top